---
import { ClientRouter } from "astro:transitions";
import "@/styles/global.css";
import { ChevronRightIcon } from "lucide-react";

interface Props {
    title?: string;
    description?: string;
    image?: string;
}

const {
    title = "Boland Co.",
    description = "Indie web studio",
    image = "",
} = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <ClientRouter />

        <!-- Primary Meta Tags -->
        <title>{title}</title>
        <meta name="title" content={title} />
        <meta name="description" content={description} />
        <meta name="author" content="Michael Boland" />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content={Astro.url.href} />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <meta property="og:image" content={image} />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content={Astro.url.href} />
        <meta property="twitter:title" content={title} />
        <meta property="twitter:description" content={description} />
        <meta property="twitter:image" content={image} />

        <!-- Favicon -->
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon.png"
            class="invert"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon.png"
            class="invert"
        />
        <link
            rel="shortcut icon"
            type="image/png"
            href="/favicon.png"
            class="invert"
        />
    </head>
    <body class="min-h-screen max-w-[550px] mx-auto px-4 py-12">
        <slot />
        <footer class="flex flex-col border-t items-center mt-8 pt-4">
            <div class="flex flex-col gap-4 w-full">
                <div class="flex flex-col">
                    <span>/ <a href="/">home</a></span>
                    <span>/ <a href="/about">about</a></span>
                    <span>/ <a href="/proof">proof</a></span>
                </div>
                <div class="flex flex-col">
                    <span class="flex items-start gap-1"
                        >/ <a
                            href="https://se.ro/profile/97d18738-41e8-4f70-996b-db9efeb72a2c"
                            target="_blank">sero</a
                        ><ChevronRightIcon
                            className="size-3 rotate-315"
                        /></span
                    >
                    <span class="flex items-start gap-1"
                        >/ <a
                            href="https://linkedin.com/in/bolander72/"
                            target="_blank">linkedin</a
                        ><ChevronRightIcon
                            className="size-3 rotate-315"
                        /></span
                    >
                    <span class="flex items-start gap-1"
                        >/ <a
                            href="https://cal.com/bolander72/chat"
                            target="_blank">calendar</a
                        ><ChevronRightIcon
                            className="size-3 rotate-315"
                        /></span
                    >
                    <span class="flex items-start gap-1">
                        / <a
                            href="https://adplist.org/mentors/michael-boland"
                            target="_blank">mentoring</a
                        ><ChevronRightIcon
                            className="size-3 rotate-315"
                        /></span
                    >
                </div>
                <div class="flex flex-col">
                    <span class="flex items-start gap-1"
                        >/ <a href="https://x.com/bolander72" target="_blank"
                            >twitter</a
                        ><ChevronRightIcon
                            className="size-3 rotate-315"
                        /></span
                    >
                    <span class="flex items-start gap-1"
                        >/ <a
                            href="https://github.com/bolander72"
                            target="_blank">github</a
                        ><ChevronRightIcon
                            className="size-3 rotate-315"
                        /></span
                    >
                </div>
            </div>
        </footer>
    </body>
</html>
